# Virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.py.class

# Environment variables / config
*.env
.env

# IDE / Editor
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# PyInstaller output
dist/
build/
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Flask cache or uploads (jika ada)
instance/
uploads/
